body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav {
    background-color: #007BFF;
    color: #fff;
    padding: 20px; /* Udaljenost od ruba */
    display: flex; /* Postavljanje elemenata u red */
    align-items: center; /* Poravnavanje elemenata po sredini */
    width: 100%; /* Navigacija zauzima cijelu širinu ekrana */
    position: fixed; /* Element je fiksiran na vrhu ekrana */
    top: 0; /* Poravnanje na vrh ekrana */
    left: 0; /* Poravnanje na lijevu stranu ekrana */
}

nav .sidebar {
    margin-right: auto; /* Pomicanje na lijevu stranu */
}

nav .main {
    margin-left: auto; /* Pomicanje na desnu stranu */
    margin-right: 30px;
}

nav h1 {
    margin: 0; /* Ukloniti vanjski margin */
}

nav a {
    text-decoration: none; /* Ukloniti podcrtavanje */
    color: #fff; /* Boja teksta */
    font-weight: bold; /* Debljina teksta */
}

nav .main a {
    margin-right: 20px; /* Veći razmak između svakog a elementa */
}

header {
    height: 80px; /* Fiksna visina headera */
}

main {
    margin-top: 20px; /* Pomakni main od vrha stranice */
    width: 80%; /* Postavi širinu na 80% ekrana */
    margin-left: auto; /* Centriraj main */
    margin-right: auto; /* Centriraj main */
}

h2 {
    text-align: center;
    margin-top: 20px;
}

ul#listaNatjecaja {
    list-style-type: none; /* Ukloniti točke iz liste */
    padding: 0; /* Ukloniti unutarnji padding */
}

ul#listaNatjecaja li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

ul#listaNatjecaja li:hover {
    background-color: #f2f2f2; /* Promijeniti boju pozadine prilikom prelaska mišem */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#detaljiNatjecaja {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav .main a[href="/natjecaj"] {
    color: #001f3f; /* Promijenite boju po želji */
}


