body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

nav {
    background-color: #007BFF;
    color: #fff;
    padding: 20px; /* Udaljenost od ruba */
    display: flex; /* Postavljanje elemenata u red */
    align-items: center; /* Poravnavanje elemenata po sredini */
    width: 100%; /* Navigacija zauzima cijelu širinu ekrana */
    position: fixed; /* Element je fiksiran na vrhu ekrana */
    top: 0; /* Poravnanje na vrh ekrana */
    left: 0; /* Poravnanje na lijevu stranu ekrana */
}

nav .sidebar {
    margin-right: auto; /* Pomicanje na lijevu stranu */
}

nav .main {
    margin-left: auto; /* Pomicanje na desnu stranu */
    margin-right: 30px;
}

nav h1 {
    margin: 0; /* Ukloniti vanjski margin */
}

nav a {
    text-decoration: none; /* Ukloniti podcrtavanje */
    color: #fff; /* Boja teksta */
    font-weight: bold; /* Debljina teksta */
}

nav .main a {
    margin-right: 20px; /* Veći razmak između svakog a elementa */
}

header {
    height: 80px; /* Fiksna visina headera */
}

main {
    margin-top: 80px; /* Pomakni main ispod headera */
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

textarea {
    padding: 8px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px; /* Promijenite širinu po potrebi */
}

input[type="text"], select {
    padding: 8px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#divKorisnik {
    margin-top: 20px;
    padding-top: 20px;
}

#divKorisnik {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .main a[href="/prijavnica"] {
    color: #001f3f; /* Promijenite boju po želji */
}
